header {
  /* max-width: 1500px; */
  /* text-align: center; */
  margin: auto;
  width: 80%;
  /* height: 70px; */
  /* position: fixed; */
  padding-bottom: 10px;
}

.logo {
  width: 125px;
  height: 40px;
  vertical-align: bottom;
  /* margin-left: 180px; */
}

.subtitle {
  font-size:12px;
  padding-left: 20px;
}

.seikyu {
  width: 320px;
  height: 50px;
  /* margin: 0 auto; */
  float: right;
  /* margin-right: 180px; */
  /* padding: 15px 40px; */
  background-color: #DA6B64;
  border-radius: 40px;
  color: white;
  position: relative;
  text-align: center;

}

.seikyu a {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  line-height: 55px;
}

.seikyu:hover {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  background-color: #D84940;
  line-height: 55px;
}

.first-wrapper {
  /* max-width: 1500px; */
  height: 500px;
  background-image: url(img/main.jpg);
  background-size: 100% 100%;
  text-align: center;
}

.fw-contents {
  padding-top: 100px;
  padding-bottom: 100px;
}

.first-wrapper h1{
  font-size: 28px;
}

.fw-title {
  /* padding-top:100px; */
}

.first-wrapper img {
  height: 80px;
}

.first-wrapper p {
  font-size: 20px;
  font-weight: bold;
}


.second-wrapper {
  text-align: center;
  background-color: #EBB94D;
  color: white;
  /* max-width: 1500px; */
  width: 100%;
  height: 600px;
}

.sw-title {
  /* font-size: 20px; */
  padding-top: 35px;
  padding-bottom: 20px;
}

.sw-title h2 {
  font-size: 20px;
  margin-bottom: 0;
  margin-top:0;
}

.sw-sentence {
  font-family: monospace;
  font-size: 18px;
  background-color: #F9F2F4;
  color: #c7254e;
  /* margin-top: 20px;
  margin-bottom: 50px; */
}

.sw-seikyu {
  /* width: 1030px; */
  width: 60%;
  margin: 0 auto;
  font-size: 28px;
  background-color: #DA6B64;
  padding: 40px 50px;
  border-radius: 70px;
  margin-top: 50px;
  margin-bottom: 75px;
  position: relative;
}

.sw-seikyu a {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  line-height: 80px;
}

.sw-seikyu:hover {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  background-color: #D84940;
  line-height: 80px;
}

.sw-season {
  font-size: 21px;
}

.sw-season p {
  font-weight: bold;
}

.sw-list {
  font-size: 10px;
  list-style: none;
  font-weight: bold;
  margin-top: 35px;
}
.sw-list li {
  display: inline;
  background-color: #1877F2;
  padding: 5px 10px;

  margin-right: 5px;
}

.sw-list a{
  color: #ffffff;
  text-decoration: none;
}

.fa-twitter, .fa-thumbs-up {
  margin-right: 5px;
}


.third-wrapper {
  padding-top: 40px;
  text-align: center;
  /* max-width: 1500px; */
  /* height: 590px; */
  background-image: url(img/introbottom.jpg);
  background-size: 100% 100%;
  padding-bottom: 140px;
}

.tw-main {
  position: relative;
  /* width: 860px; */
  width: 60%;
  margin: 0 auto;
}

.tw-main:before, .tw-main:after {
  content: '';
  width: 50px;
  height: 50px;
  position: absolute;
  display: inline-block;
}


.tw-main:before {
  border-left: solid 5px #EBB94D;
  border-top: solid 5px #EBB94D;
  top: 0;
  left: 0;
}

.tw-main:after {
  border-right: solid 5px #EBB94D;
  border-bottom: solid 5px #EBB94D;
  bottom: 0;
  right: 0;
}


.tw-main h1 {
  font-size: 28px;
  padding:30px 70px;
  margin-top: 0;
  margin-bottom: 0;
}

.tw-sentence {
  font-size: 20px;
}

.tw-sentence p {
  margin-top: 0;
  margin: 0;
}

.tw-sentence1, .tw-sentence2, .tw-sentence3 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.tw-sentence3 span {
  font-weight: bold;
  background: linear-gradient(transparent 70%, #EBB94D 70%);
}

.forth-wrapper {
  /* max-width: 1500px; */
  /* height: 600px; */
  background-color: #FEF5E0;
  text-align: center;
  padding-top: 80px;
  position: relative;
  padding-bottom: 70px;
}

.f4w-about {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  line-height: 80px;
  font-size: 14px;
  color: #ffffff;
  background-color: #EBB94D;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  transform: translateY(-50%) translateX(1em);
}

.f4w-main {
  position: relative;
  /* width: 860px; */
  width: 60%;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 30px;
}

.f4w-main:before, .f4w-main:after {
  content: '';
  width: 50px;
  height: 50px;
  position: absolute;
  display: inline-block;
}


.f4w-main:before {
  border-left: solid 5px #EBB94D;
  border-top: solid 5px #EBB94D;
  top: 0;
  left: 0;
}

.f4w-main:after {
  border-right: solid 5px #EBB94D;
  border-bottom: solid 5px #EBB94D;
  bottom: 0;
  right: 0;
}

.f4w-main h1 {
  font-size: 28px;
  padding:30px 70px;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

.f4w-sentence {
  font-size: 20px;
  margin-top: 40px;
  margin-bottom: 30px;
  font-weight: bold;
}

.f4w-contents {
  /* width: 1170px; */
  width: 80%;
  height: 250px;
  border: solid 3px #EBB94D;
  border-radius: 3px;
  margin: auto;
  background-color: #ffffff;
}

.f4w-sub {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 20px;
  font-weight: bold;
}

.f4w-cover {
  width: 720px;
  margin: auto;
}

.f4w-item {
  float: left;
  margin-left: 15px;
  margin-right: 15px;
}

.f4w-item img {
  height: 60px;
}

.f4w-item p {
  font-size: 12px;
  margin-top: 0;
  margin-bottom: 0;
}

/* ---------------------------------------------------------------- */

.fifth-wrapper {
  /* max-width: 1500px; */
  /* height: 440px; */
  text-align: center;
  background-image: url(img/aboutsecondbg.jpg);
  background-size: 100% 100%;
}

.f5w-main {
  color: #ffffff;
  padding-top: 40px;
  /* margin-top: 0; */
}

.f5w-main h2 {
  font-size: 28px;
}

.f5w-main p {
  font-size: 20px;
  font-weight: bold;
}

.f5w-main span {
    color: #EBB94D;
}

.f5w-contents {
    width: 70%;
    margin: auto;
}

.f5w-item {
    background-color: white;
    /* width: 380px; */
    width: 30%;
    height: 100px;
    padding-top: 30px;
    padding-bottom: 30px;
    float: left;
    margin-bottom: 40px;
    margin-left: 20px;
    border-radius: 5px;
}

.f5w-step {
    width: 80%;
    background-color: #EBB94D;
    color: white;
    margin: auto;
    border-radius: 5px;
}

.f5w-sentence {
    clear: both;
    /* height: 120px; */
    background-color: #016EA9;
    padding-top: 20px;
    padding-bottom: 20px;
}

.f5w-sentence p {
    font-size: 20px;
    color: white;
    font-weight: bold;
}

.f5w-sentence span {
    color: #EBB94D;
}

/* ---------------------------------------------------------------- */

.sixth-wrapper {
    padding-top: 65px;
    padding-bottom: 60px;
    text-align: center;
}

.sixth-wrapper h1 {
    font-size: 28px;
    /* margin-bottom: 50px; */
}

.sixth-wrapper span {
    font-size: 16px;
}

.s6w-sentence1 {
    font-size: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.s6w-item img {
    margin-right: 25px;
    margin-left: 25px;
}

.s6w-sentence2 {
    font-size: 16px;
    font-weight: bold;
    margin-top: 50px;
}

/* ------------------------------------------------------------------- */

.seventh-wrapper {
    background-color: #FEF5E0;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.s7w-material {
    margin-top: 40px;
}

.s7w-main {
    position: relative;
    margin: auto;
    width: 60%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.s7w-main:before, .s7w-main:after {
  content: '';
  width: 50px;
  height: 50px;
  position: absolute;
  display: inline-block;
}


.s7w-main:before {
  border-left: solid 5px #EBB94D;
  border-top: solid 5px #EBB94D;
  top: 0;
  left: 0;
}

.s7w-main:after {
  border-right: solid 5px #EBB94D;
  border-bottom: solid 5px #EBB94D;
  bottom: 0;
  right: 0;
}

.s7w-main span {
    font-size: 20px;
}

.s7w-main h1 {
    font-size: 28px;
}

.s7w-contents {
    width: 80%;
    margin: auto;
    height: 300px;
}

.s7w-item {
    width: 30%;
    float: left;
    margin-left: 15px;
    margin-right: 15px;
    /* text-align: center; */
    /* margin: auto; */
}

.s7w-item img {
    width: 360px;
    height: 180px;
}

.s7w-subtitle1 {
    color: #EBB94D;
    font-size: 20px;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 15px;
    /* width: 360px; */
}

.s7w-sentence1 {
    width: 360px;
    margin: auto;
    padding-bottom: 55px;

}

.s7w-cover {
    clear: both;
    background-color: white;
    padding-top: 30px;
    padding-bottom: 30px;
    /* margin-top: 55px;
    margin-bottom: 40px; */
    width: 80%;
    border: solid 3px #EBB94D;
    margin: auto;
}

.s7w-cover h1 {
    color: #EBB94D;
    font-size: 28px;
}

.s7w-subtitle2 {
    font-size: 20px;
    font-weight: bold;
}

.s7w-sentence2 {
    font-size: 16px;
    font-weight: bold;
}

.s7w-sentence3 {
    margin-top: 40px;
}

/* --------------------------------------------------- */
.eighth-wrapper {
    background-image: url(img/teacherbg.jpg);
    background-size: cover;
    padding-top: 90px;
    padding-bottom: 40px;
    text-align: center;
    color: white;
}

.eighth-wrapper h1 {
    /* color: white; */
    font-size: 28px;
    margin-bottom: 45px;
    margin-top: 0;
}

.e8w-sentence1 {
    margin-bottom: 10px;
    margin-top: 0;
    font-weight: bold;
}

.e8w-contents {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    margin: auto;
}

.e8w-item {
    width: 45%;
    margin: auto;

    /* position: relative; */
}

.e8w-item img {
    margin: auto;
    bottom: -35px;
    position: relative;
    border-radius: 50%;
    /* position: absolute;
    top: -60%;
    left: 30%; */
}

.e8w-sentence2 {
    border: solid 3px white;
    padding: 40px;
}

/* -------------------------------------------------------- */

.ninth-wrapper {
    position: relative;
    background-color: #EBB94D;
    padding-top: 20px;
    text-align: center;
    padding-bottom: 40px;
    /* padding: 0.6em; */
}

.ninth-wrapper p {
    background-color: white;
    color: #EBB94D;
    border-radius: 50%;
    padding: 20px;
    display: inline-block;
}

.ninth-wrapper:after {
    position: absolute;
    content: '';
    top: 100%;
    left: 50%;
    border: solid 25px transparent;
    border-top: solid 25px #EBB94D;
    width: 0;
    height: 0;
    margin-left: -25px;
}

.n9w-title {
    color: white;
    position: relative;
    margin: auto;
    width: 60%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.n9w-title:before, .n9w-title:after {
  content: '';
  width: 50px;
  height: 50px;
  position: absolute;
  display: inline-block;
}


.n9w-title:before {
  border-left: solid 5px white;
  border-top: solid 5px white;
  top: 0;
  left: 0;
}

.n9w-title:after {
  border-right: solid 5px white;
  border-bottom: solid 5px white;
  bottom: 0;
  right: 0;
}

/* ---------------------------------------------------------------- */

.tenth-wrapper {
    text-align: center;
    padding-top: 25px;
    padding-bottom: 60px;
}

.tenth-wrapper h1 {
    font-size: 28px;
}

.t10w-sentence1 {
    font-size: 16px;
    font-weight: bold;
    margin-top: 25px;
}

.t10w-container {
    margin: auto;
    width: 40%;
}

.t10w-item {
    margin-top: 40px;
}

.t10w-item img {
    width: 240px;
    height: 240px;
    border: solid 3px #EBB94D;
    float: left;
    margin-right: 30px;
}

.t10w-item p {
    /* width: 80%; */
    text-align: left;
}

.t10w-sentence2 {
    font-size: 18px;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
}

.t10w-sentence3 {
    font-size: 15px;
    text-decoration: underline;
}

.t10w-item span {
    font-style: italic;
}

/* ---------------------------------------------------------------- */

.eleventh-wrapper {
    background-image: url(img/classbg.jpg);
    background-size: cover;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 80px;
}

.eleventh-wrapper h1 {
    color: white;
    font-size: 28px;
    margin-top: 0;
}

.eleventh-wrapper p {
    color: white;
    margin-top: 50px;
}

.e11w-list {
    margin: auto;
}

.eleventh-wrapper ul {
    display: inline-block;
    margin-left: 15px;
    margin-right: 15px;
    width: 25%;
    list-style: none;
    vertical-align: top;

}

.eleventh-wrapper li {
    font-weight: bold;
    padding: 10px 20px;
    border-bottom: solid 1px #E5E5E5;
}

.e11w-header {
    background-color: #016EA9;
    color: white;
    font-size: 20px;
}

.e11w-sentence {
    font-size: 16px;
    background-color: white;

}

/* ---------------------------------------------------------------- */

.twelveth-wrapper {
    padding-top: 45px;
    padding-bottom: 45px;
    background-color: #016EA9;
    text-align: center;
}

.twelveth-wrapper h1 {
    font-size: 20px;
    margin: 0;
    color: white;
}

/* ---------------------------------------------------------------- */

.thirteen-wrapper {
    text-align: center;
    padding-top: 65px;
    padding-bottom: 30px;
}

.thirteen-wrapper h1 {
    font-size: 28px;
    margin-top: 0;
    margin-bottom: 55px;
}

.thirteen-wrapper img {
    margin: auto;
    padding-bottom: 40px;
}

.t13w-flow {
    width: 70%;
    margin: auto;
    /* padding-top: 40px; */
}

.t13w-item {
    background-color: #FEF5E0;
    /* margin-top: 30px; */
    /* margin-bottom: 30px; */
    padding: 20px;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.t13w-left {
    margin-left: 40px;
    /* vertical-align: center; */

    /* margin: auto; */
}

.t13w-left p {
    font-size: 18px;
    font-weight: bold;
    margin-top: 0;
    width: 150px;
}

.t13w-right {
    text-align: left;
    margin-left: 50px;
}

.t13w-right p {
    margin-top: 20px;
    margin-bottom: 20px;
}

.t13w-right-header {
    font-weight: bold;
}

.t13w-connect1 {
    width:50%;
    height: 30px;
    border-left: solid 3px #EBB94D;
    border-bottom: solid 3px #EBB94D;
    margin: auto;
}

.t13w-connect2 {
    width:50%;
    height: 30px;
    border-right: solid 3px #EBB94D;
    margin: auto;
}

.t13w-connect3 {
    width:50%;
    height: 30px;
    border-top: solid 3px #EBB94D;
    border-left: solid 3px #EBB94D;
    margin: auto;
}

/* ---------------------------------------------- */

.fourteenth-wrapper {
    background-image: url(img/bangkokbg.jpg);
    background-size: cover;
    background-position: center;
    /* padding-top: 80px;
    padding-bottom: 80px; */
    padding: 100px;
    /* width: 80%; */
    color: white;
}
.f14w-container {
    width: 80%;
    margin:auto;
}

.fourteenth-wrapper h1 {
    font-size: 24px;
}

.f14w-sentence1 {
    font-size: 14px;
}

.fourteenth-wrapper ul {
    padding-left: 20px;
}

.fourteenth-wrapper li {
    font-weight: bold;
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.f14w-sentence2 {
    font-size: 20px;
    font-weight: bold;
}

/* ---------------------------------------------- */

.fifteenth-wrapper {
    background-color: #F7C23C;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 40px;
}

.fifteenth-wrapper h1 {
    font-size: 28px;
    margin-bottom: 50px;
}

.fifteenth-wrapper span {
    color: white;
}

.fifteenth-wrapper p {
    font-weight: bold;
}

.f15w-sentence0 {
    margin-bottom: 80px;
}

.f15w-contents {
    position: relative;
    border: solid 3px white;
    display: flex;
    justify-content: space-around;
    width: 70%;
    margin: auto;
    padding-top: 45px;
    padding-bottom: 50px;
}

.fifteenth-wrapper h2 {
    display: inline-block;
    font-size: 28px;
    background-color: #F7C23C;
    position: absolute;
    top: 0;
    transform: translateY(-50%) ;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.f15w-item {
    position: relative;
    background-color: white;
    border-radius: 50%;
    width: 250px;
    height: 250px;
    padding: 15px;
    display: table-cell;
    vertical-align: middle;

}

.f15w-item h3 {
    color: #F7C23C;
    font-size: 24px;
}

/* -------------------------------------------------------------------- */

.sixteenth-wrapper {
    background-image: url(img/specialdetail.jpg);
    background-size: cover;
    text-align: center;
    color: white;
    padding-top: 60px;
    padding-bottom: 80px;
}

.sixteenth-wrapper h1 {
    font-size: 28px;
}

.sixteenth-wrapper p {
    font-size: 20px;
    font-weight: bold;
}


.s16w-title {
    /* color: white; */
    position: relative;
    margin: auto;
    width: 60%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.s16w-title:before, .s16w-title:after {
  content: '';
  width: 50px;
  height: 50px;
  position: absolute;
  display: inline-block;
}


.s16w-title:before {
  border-left: solid 5px white;
  border-top: solid 5px white;
  top: 0;
  left: 0;
}

.s16w-title:after {
  border-right: solid 5px white;
  border-bottom: solid 5px white;
  bottom: 0;
  right: 0;
}

/* -------------------------------------------------------------------- */

.seventeenth-wrapper {
    padding-top: 60px;
    padding-bottom: 100px;
    text-align: center;
}

.seventeenth-wrapper h1 {
    font-size: 28px;
}

.seventeenth-wrapper h2 {
    font-size: 20px;
    margin-bottom: 50px;
}

.s17w-container {
    display: flex;
    margin: auto;
    width: 60%;
    text-align: left;
}

.s17w-left {
    margin-right: 30px;
}

.s17w-left img {
    width: 200px;
    height: 140px;
}

.s17w-right ul {
    margin-top: 40px;
    margin-bottom: 40px;
    padding-left: 20px;
    font-size: 14px;
}

.s17w-right p {
    margin-top: 0;
    font-size: 14px;
}

/* -------------------------------------------------------------------- */

.eighteenth-wrapper {
    background-color: #EBB94D;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 70px;
}

.eighteenth-wrapper h1 {
    font-size: 28px;
}

.eighteenth-wrapper p {
    font-size: 20px;
    font-weight: bold;
}

.s18w-input-form {
    width: 70%;
    margin: auto;
}

.s18w-form {
    width: 90%;
    padding: 15px 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
}

.s18w-input-form textarea {
    width: 90%;
    padding: 15px 10px;
    margin-top: 25px;
    margin-bottom: 45px;
    border-radius: 5px;
    border: none;
}

.s18w-submit {
    width: 92%;
    background-color: #DA6B64;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 40px;
    padding: 15px 10px;
    border: none;
}

.nineteen-wrapper {
    padding-top: 60px;
    padding-bottom: 60px;
}

.nineteen-wrapper h1 {
    font-size: 28px;
}

.n19w-menu {
    text-align: left;
    width: 80%;
    margin: auto;
}

.n19w-menu-item {
    display: block;
    position: relative;
    padding: 10px;
    /* font-size: 20px; */
    font-weight: bold;
    margin-bottom: 5px;
}

.n19w-menu-item-link {
    position: relative;
    display: block;
    padding: 20px;
    border: solid 3px #E5E5E5;
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.n19w-menu-item-link:hover {
    text-decoration: underline;
}

.n19w-menu-item-link:after {
    content: '';
    position: absolute;
    right: 25px;
    top: 38%;
    transition: all 0.2s ease-in-out;
    display: block;
    width: 8px;
    height: 8px;
    border-top: solid 3px #000;
    border-right: solid 3px #000;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
}

.n19w-menu-item-link.open:after {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 45%;
}

.n19w-submenu {
    display: none;
}

.n19w-submenu-item {
    padding: 10px;
    font-size: 16px;
}
